@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: tomato;
}
.wrapper {
    width: 400px;
    height: 400px;
    background: #f8f8f8;
    border-radius: 10px;
    padding: 25px;
}


.cards, .card, .view {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards {
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards .card {
    height: calc(100% /4 - 10px);
    width: calc(100% /4 - 10px);
    cursor: pointer;
    position: relative;
    perspective: 800px;
    transform-style: preserve-3d;
}

.cards .card .view {
    position: absolute;
    backface-visibility: hidden;
    background-color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s linear;
    pointer-events: none;
    user-select: none;
}
.card .front-view span{
    font-size: 34px;
    color: #3b3636;
}

.card .back-view {
    /* display: none; */
    transform: rotateY(180deg);
}

.card .back-view img {
    max-width: 45px;
}
.card.flip .back-view {
    transform: rotateY(0);
}
.card.flip .front-view {
    transform: rotateY(180deg);
}

.card.shake {
    animation: shake 0.35s ease-in-out;
}
@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(-13px);
    }
    40% {
        transform: translateX(13px);
    }
    60% {
        transform: translateX(-8px);
    }
    80% {
        transform: translateX(8px);
    }
}
